# Intellij Idea project files
.idea
*.iml
*.ipr
*.iws

# Eclipse project files
.classpath
.project
.settings/
bin/

# gradle config
.gradle

# project binaries
/build
/out
/classes

# sonar
sonar-project.properties

# mac os x
.DS_Store

# netbeans
.nb-gradle
.nb-gradle-properties

# sphinx
_build

# Vim
*.swp
