name: Build

on: 
  pull_request:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
            distribution: 'temurin'
            java-version: '11'
            cache: 'gradle'

      - name: Test with Gradle
        run: ./gradlew --no-daemon --continue check

      - name: Jacoco
        run: ./gradlew jacocoTestReport

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
